<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <!-- <section class="edit" style="text-align: right; padding: 16px 16px 0px 16px;">
      <a href="/profile-update">Edit</a>
  </section>
  <section class="image" style="text-align: center;">
    <img src="https://s4.anilist.co/file/anilistcdn/character/large/b167372-o4C808Eb5xmo.jpg" alt="" height="150px" width="150px" style="border-radius: 50%;object-fit: cover;">
  </section>

  <section style="padding: 16px;">
    <ion-grid>
      <ion-row>
        <ion-col size="3"> Name </ion-col>
        <ion-col> Rowan Alexei Peruka </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"> Age </ion-col>
        <ion-col> 18 years old </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"> Nick </ion-col>
        <ion-col> Ru, Lex, Grim Reaper </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"> Address </ion-col>
        <ion-col> Peruka, Macedonia </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"> D.O.B </ion-col>
        <ion-col> January 2002 </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"> Siblings </ion-col>
        <ion-col> None </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Bio</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
      Who said I’m funny? I’m actually very mean, but everyone thinks I’m just kidding.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Interests</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-chip outline color="primary">
          <ion-icon name="restaurant-outline"></ion-icon>
          <ion-label>Food</ion-label>
        </ion-chip>
        <ion-chip outline color="danger">
          <ion-icon name="eyedrop-outline"></ion-icon>
          <ion-label>Sword Fight</ion-label>
        </ion-chip>
        <ion-chip outline color="tertiary">
          <ion-icon name="logo-yen"></ion-icon>
          <ion-label>Money</ion-label>
        </ion-chip>
        <ion-chip outline color="warning">
          <ion-icon name="diamond-outline"></ion-icon>
          <ion-label>Jewellery</ion-label>
        </ion-chip>
        <ion-chip outline color="success">
          <ion-icon name="airplane-outline"></ion-icon>
          <ion-label>Travel</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  </section> -->

  <!-- <ion-card>
    <ion-list lines="none">
      <div class="ion-text-center ion-padding-top">
        <img src="https://gamma.malaysia.gov.my/assets/img/avatar/default_avatar.png
 ">
      </div>
      <ion-item>
        <ion-label class="ion-text-center">
          Name
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-center">
          Email
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list lines="full">
      <ion-item (click)="goToUpdateProfile()">
        <ion-label>
          Update Profile
        </ion-label>
        <ion-icon name="create-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item lines="none" (click)="goToChangePassword()">
        <ion-label>
          Change Password
        </ion-label>
        <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-button size="large" expand="block" color="primary" class="ion-padding-horizontal" (click)="doLogout()">
    <ion-icon slot="end" name="log-out-outline"></ion-icon>
    Log Out
  </ion-button> -->
  <ion-card *ngIf="this.profile_data">
    <ion-list lines="none">
      <div class="ion-text-center ion-padding-top">
        <img src="https://gamma.malaysia.gov.my/assets/img/avatar/default_avatar.png" width="75px">
      </div>
      <ion-item>
        <ion-label class="ion-text-center">
          {{profile_data.firstname}} {{profile_data.lastname}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-center">
          {{profile_data.email}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list lines="full">
      <ion-item (click)="goToUpdateProfile()">
        <ion-label>
          Update Profile
        </ion-label>
        <ion-icon name="create-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item lines="none" (click)="goToChangePassword()">
        <ion-label>
          Change Password
        </ion-label>
        <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-button size="large" expand="block" color="primary" class="ion-padding-horizontal" (click)="doLogout()">
    <ion-icon slot="end" name="log-out-outline"></ion-icon>
    Log Out
  </ion-button>

</ion-content>

<style>
a{
  text-decoration: none;
}
</style>
