<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card>
    <form #form="ngForm">
      <ion-list lines="none">
        <ion-list-header lines="full">
          Please enter your details
        </ion-list-header>

        <ion-item>
          <ion-label position="stacked" for="email">
            Email
            <ion-note color="danger">*</ion-note>
          </ion-label>

          <ion-input ngModel #email="ngModel" type="email"
            id="email" name="email"
            placeholder="Please enter your email address"
            clearOnEdit="false" required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" for="password">
            Password
            <ion-note color="danger">*</ion-note>
          </ion-label>

          <ion-input ngModel #password="ngModel" [type]="onShowPassword ? 'password' : 'text'"
            id="password" name="password"
            placeholder="Please enter your password"
            clearOnEdit="false" required>
          </ion-input>
        </ion-item>
      </ion-list>
    </form>

    <div class="ion-text-end">
      <ion-button fill="clear" (click)="onPasswordToggle()">
        <ion-icon slot="end" [name]="onShowPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        <ion-label>
          <ion-note color="primary" *ngIf="onShowPassword">
            Show password
          </ion-note>
          <ion-note color="primary" *ngIf="!onShowPassword">
            Hide password
          </ion-note>
        </ion-label>
      </ion-button>
    </div>

    <ion-button color="dark" fill="clear" expand="block" (click)="goToRegister()">
      Do not have an account yet?
      <br>
      Click here to register!
    </ion-button>

  </ion-card>

  <ion-button [disabled]="!form.valid" size="large" expand="block" color="primary" class="ion-padding-horizontal" (click)="onSubmit(form)">
    <ion-icon slot="end" name="log-in-outline"></ion-icon>
    Login
  </ion-button>
</ion-content>

