<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content color="dark">
  <ion-card class="">
    <form #form="ngForm">
      <ion-list lines="none">
        <ion-item>
          <ion-label position="stacked" for="oldPass">
            Old Password
            <ion-note color="danger">*</ion-note>
          </ion-label>

          <ion-input
            ngModel #oldPass="ngModel" id="oldPass"
            class="form-control no-border" name="oldPass"
            clearOnEdit="false" required
            [type]="onShowPassword ? 'password' : 'text'"
            placeholder="Enter your old password">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" for="newPass">
            New Password
            <ion-note color="danger">*</ion-note>
          </ion-label>

          <ion-input
            ngModel #newPass="ngModel" id="newPass"
            class="form-control no-border" name="newPass"
            [type]="onShowPassword ? 'password' : 'text'"
            clearOnEdit="false" required
            placeholder="Enter new password">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" for="confirmNewPass">
            Confirm new password
            <ion-note color="danger">*</ion-note>
          </ion-label>

          <ion-input
            ngModel #confirmNewPass="ngModel" id="confirmNewPass"
            class="form-control no-border" name="confirmNewPass"
            [type]="onShowPassword ? 'password' : 'text'"
            clearOnEdit="false" required
            placeholder="Confirm your new password">
          </ion-input>
        </ion-item>
      </ion-list>
    </form>

    <div class="ion-text-end">
      <ion-button fill="clear" (click)="onPasswordToggle()">
        <ion-icon slot="end" [name]="onShowPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        <ion-label>
          <ion-note color="primary" *ngIf="onShowPassword">
            Show Password
          </ion-note>
          <ion-note color="primary" *ngIf="!onShowPassword">
            Hide Password
          </ion-note>
        </ion-label>
      </ion-button>
    </div>

    <br>
    <ion-button [disabled]="!form.valid" size="large" expand="block" color="primary" class="ion-padding-horizontal" (click)="onSubmit(form)">
      <ion-icon slot="end" name="save-outline"></ion-icon>
      Update
    </ion-button>
    <br>
  </ion-card>
</ion-content>
